@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Coffe&Joy</h1>

    <span>Selecionamos cafés incríveis, direto do produtor e cheios de histórias. Enviamos recém torrado para a sua casa na frequência que você escolher.</span>
    

</div>
